/* Baseline */
@font-face {
  font-family: "Kollektif";
  src: url("Kollektif.ttf");

  font-family: "Nunito";
  src: url("Nunito-Black.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #706784;
}

html {
  scroll-behavior: smooth;
}

.App{
  background-color: #ffffff;
  overflow: hidden;
}

li,a,button {
  list-style: none;
  text-decoration: none;
  color: #706784;
}

.sub-title{
  font-size: 50px;
  margin: 10px;
  font-weight: 500;
}

/* Utilities */
/* Ini buat bikin shape2 background, nanti tinggal pake
sama tambah class buat positioningnya
 ps: bg-decoration harus ditambahin, dan decoration harus di wrap sama .cover
*/

.mobile{
  display: none;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.cover{
  overflow: hidden;
}

.bg-decoration{
  position: absolute;
}

.elips1{
  height: 150px;
  width: 150px;
  background-color: #FECC50;
  border-radius: 50%;
}

.elips2{
  display: inline-block;
  left: -120px;
  width: 212px;
  height: 212px;
  border-radius: 50%;
  border-style: solid;
  border-width: 49px;
  border-color: #706784;
  background-color: rgba(0, 0, 0, 0);
  filter: drop-shadow(2px 6px 6px rgba(0, 0, 0, 0.25));
  pointer-events:none;
}

.elips3{
  display: inline-block;
  width: 212px;
  height: 212px;
  bottom: 300px;
  top: 60px;
  right: -130px;
  border-radius: 50%;
  border-style: solid;
  border-width: 49px;
  border-color: #FECC50;
  background-color: rgba(0, 0, 0, 0);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  pointer-events:none;
}

.poligon1{
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #FF6D69;
  border-radius: 6px;
}

.circle{
  border-radius: 50%;
}

.pointer {
  width: 200px;
  height: 50px;
  position: relative;
  background: linear-gradient(90deg, #4A415F 0%, rgba(74, 65, 95, 0) 272.61%);
}

.pointer:hover{
  cursor: pointer;
}

.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #9691A0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}



.x1{
  position: absolute;
  width: 192.5px;
  height: 303.48px;
  right: 24px;
  top: 1550px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 196px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  color: #706784;

  transform: rotate(9.88deg);
}

.x2{
  position: absolute;
  width: 192.5px;
  height: 303.48px;
  left: 40px;
  top: 1200px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 196px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  color: #FECC50;

  transform: rotate(9.88deg);
}

.btn{
  width: 140px;
  height: 50px;
  background: #FECC50;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  box-shadow: 1px 1px 1px grey;
}

.btn:hover{
  cursor: pointer;
}
/* Navbar */

nav{
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  transition: background-color 0.5s;
}

nav.active{
  background-image: linear-gradient(338.2deg, #FFD05B -25.97%, #FFFFFF 106.32%);
  background-color: white;
  box-shadow: 5px 5px 7px grey;
  border-bottom: solid 4px #4A415F;
}

nav.active-competition{
  background-color: white;
  box-shadow: 5px 5px 7px grey;
}

nav.nav-competition {
  color: white;
}

nav img{
  max-height: 60px;
}

nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li{
  padding: 10px;
  margin: 0 10px;
}

nav a{
  font-weight: bold;
  cursor: pointer;
}

nav ul li:nth-child(3){
  color: white;
  background-color: #FECC50;
  box-shadow: 3px 3px 3px grey;
  border-radius: 11px;
}

nav ul li:nth-child(3) a{
  color: white;
}

nav ul li:hover a{
  text-shadow: 2px 2px 5px #FF0000;
  color:#FECC50;
}

nav ul li:nth-child(3):hover{
  background-color: #FECC50;
  box-shadow: 1px 1px 1px grey;
  border-radius: 11px;
  transform: scale(1.1);
}

nav ul li:nth-child(3):hover a{
  color:#ffffff;
  text-shadow: 0px 0px 0px #fff;
}


/* Header */

header{
  background-image: linear-gradient(180deg, #FECC50 -80%, rgba(255,255,255,0) 100%, rgba(255,255,255,0) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.kolab a{
  text-shadow: 2px 2px 5px #FECC50;
  left: 720px;
  top: 190px;
  font-weight: 800;
  font-size: 28px;
  line-height: 49px;
  color: #FFB200;
}

.hero{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.hero-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin-bottom: 20px;
}

.hero img{
  padding: 0;
  width: 436px;
  height: 181px;
}

.headline{
  font-size: larger;
  max-width: 484px;
}

.headline ul{
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.headline-items .sejutacita{
  padding: 0;
  margin: 0;
  width: 145px;
  height: 70px;
}

.headline-items .sfl{
  padding: 0;
  margin: 0;
  width: 125px;
  height: 65px;
}

.headline li{
  width: 140px;
  height: 50px;
  background: #FECC50;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  box-shadow: 1px 1px 1px grey;
}

.headline li a{
  cursor: pointer;
  font-size: 25px;
  line-height: 43px;
}

.tentang {
  font-family: 'Kollektif';
  color: #ffffff;
  font-size: 20px;
  padding:13px 15px 12px 11px;
  border-radius: 11px;
  /* box-shadow: 1px 1px 1px grey; */
}



.daftar {
  font-family: 'Kollektif';
  color: #ffffff;
  font-size: 20px;
  padding:13px 15px 12px 11px;
  border-radius: 11px;
  /* box-shadow: 1px 1px 1px grey; */
}

.dekorasi1{
  right: -70px;
  top: 70px;
}

.dekorasi2{
  top: 490px;
  left:-50px;
}
/* Subheader */
.subheader{
  max-width: 200vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: justify;
  font-style: normal;
  font-weight: 600;  
}

.subheader-item{
  width: 50vw;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center; 
}

.subheader-item h1{
  font-size: 48px;
  line-height: 50px;
  color: #FECC50;
  font-weight: 550;
}

.subheader-item2{
  width: 40vw;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center; 
}

.subheader-item2 h1{
  line-height: 85px;
  color: #FECC50;
  font-weight: 400;
  font-size: 96px;
  text-align: justify;
  margin-bottom: 10px; 
}

.subheader-dekorasi2{
  top: 340px;
  right: -120px;
}

/* Events */

.events{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.card-event{
  text-align: center;
  width: 400px;
  height: 400px;
  padding: 5px;
  position: relative;
}

/* .card-event:hover{
  background-color: #ffff;
} */

.card-event img{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.card-inside{
  background-image:rgba(131, 39, 150, 1);
  z-index: 100;
  height: 100%;
  width: 100%;
}

.inside{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 30%;
  left: 25%;
}

.inside .link{
  font-family: 'Kollektif';
  color: #ffffff;
  font-size: 20px;
  padding:13px 15px 12px 11px;
  border-radius: 11px;
  border: solid;
}



/* Timeline */
.timeline{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timeline .picker{
  font-weight: 600;
  font-size: large;
  gap: 10px;
}

.timeline a{
  cursor: pointer;
  padding: 10px;
}

.timeline a.picked:after{
  width: 100%; 
  left: 0; 
}

.tl-wrapper{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.judul a{
  font-family: Kollektif;
  font-size: 25px;
  font-weight: 500;
  color: #706784;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.judul a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 8px;
  left: 50%;
  position: absolute;
  background: #FECC50;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.judul a:hover:after { 
  width: 100%; 
  left: 0; 
}


.timeline-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 150vh;
  justify-content: space-evenly;
}


.tl{
  
  position: absolute;
  top: -0.75rem;
  width: 3rem;
  height: 3rem;
  background: #FECC50;
  z-index: 2;
}

.line{
  position: absolute;
  left: 1rem;
  top: 2rem;
  height: 135%;
  background-color: #4A415F;
  min-width: 1rem;
}


.tl-items{
  position: relative;
  left: -1.6rem;
  display: flex;
}

.inside-tl-items{
  padding-left: 1rem;
  font-size: 1.5rem;
  position: relative;
  left: 3rem;
  top: -1.5rem;
}

/* Faq */
.faq{
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  gap: 42px;

}

.question-wrapper{
  position: relative;
  background: linear-gradient(90deg, #4A415F 0%, rgba(74, 65, 95, 0) 272.61%);
  border-radius: 8px;
  max-height: 63px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(1,.01,1,1.34);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  z-index: 100;
}


.question{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 20px;
  width: 55vw;
  height: 63px;
  min-width: 750px;
}

.question h1{
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}


.question img{
  height: 15px;
  width: 27px;
}

.answer{
  text-align: justify;
  font-weight: 600;
  padding: 1vw;
  height: auto;
  border-radius: 3px;
  border: #4A415F solid 3px;
}


/* Sponsor */
.sponsor{
  margin-top: 100px;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.logo-sponsor{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}
.sejutacita-sponsor{
  width: 283px;
  height: 141px;
}
.sfl-sponsor{
  width: 235px;
  height: 127px;
}



/* Media Partner */

.mediapartner{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer{
  position: relative;
  font-style: open sans;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 47vh;
  background-color: #4A415F;
}

footer p{
  margin-top: 15px;
  font-weight: 600;
  color: #FFB200;
}
.adder{
  height: 5px;
}
.icons{
  position: absolute;
  top: 40px;
  left: 2.85%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 39px;
  height: 39px;
}

.icons a{
  font-weight: 500;
  color: #ffffff;
}
.wrap-sosmed{
  height: 46.5px;
  width: 45.90833282470703px; 
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
}

.icon{
  width: 40px;
  height: 40px;
}


.ig{
  font-size: 18px;
}

.linea{
  font-size: 18px;
}

.emaila{
  font-size: 17px;
}

footer .icons img:Hover{
    cursor: pointer;
    scale: 1.05;
}



@media (max-width:360px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  :root{
    	font-size: 0.7rem;
  }
  .subheader p{
    font-size: 16px;
  }
  .navbar{
    display: none;
  }
  .mobile{
    display: inline;
  }
  .tl-gap{
    height: 1rem;
  }
.nav-mobile{
  padding-top: 30%;
  display: flex;
  background: linear-gradient(179.75deg, #FECC50 -25.18%, rgba(254, 204, 80, 0) 85.46%);
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  height: 100%;
  }
  .no-mobile{
    display: none;
  }
  nav{
    padding: 10px;
  }
  nav img {
    max-height: 40px;
  }
  nav img[alt="nav-drop"]{
    width: 25px;
  }
  header{
    height: 90vh;
  }
  .hero img{
    width: 93vw;
    height: 25vh;
  }
  .kolab a{
    font-size: 20px;
    text-align: center;
    margin-left: 56px;
  }
  .headline li {
    width: 100px;
    height: 45px;
    background: #FECC50;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 11px;
    box-shadow: 1px 1px 1px grey;
  }
  .headline li a{
    font-size: medium;
  }
  .judul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-event img {
    position: relative;
    top: 0;
    left: 0;
    height: 60%;
    width: 60%;
    z-index: 0;
  }
  .card-event {
    text-align: center;
    width: 393px;
    height: auto;
    padding: 0;
    position: relative;
  }
  .card-inside{
    font-size: 10px;
  }
  .inside {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
    position: absolute;
    top: 20%;
    left: 35%;
  }
  .inside h1{
    font-size:20px
  }
  .sub-title{
    text-align: center;
  }
  .subheader-item{
    margin-top: 300px;
  }
  .subheader-item2{
    margin-bottom: 350px;
  }
  .subheader-item2 h1 {
    line-height: 50px;
    color: #FECC50;
    font-weight: 400;
    font-size: 96px;
    text-align: justify;
    margin-bottom: 10px;
  }
  .subheader p{
    width: 270px;
  }
  .tl-wraper{
    flex-direction: column;
  }
  .timeline-container{
    flex-direction: column;
    justify-content: space-between;
    height: 160vw;
    margin-top: 20px;
  }
  .timeline{
    margin-bottom: 200px;
  }
  .events{
    margin-bottom: 100px;
  }
}
@media (max-width:550px)  { 
  .faq{
    align-items: center;
  }
  .cover{
    display: none;
  }
  .question{ 
    padding-left: 30px !important;
    min-width: 90vw !important;
  }
  .question h1{
    font-size: 1.25rem !important;
  }
  .answer{
    padding: 10px;
    font-weight: 500;
    font-size: 1rem !important;
    min-width: 90vw !important;
    width: 55vw;
  }
  
}
@media (max-width:650px) {
  .wrapper h1{
    font-size: smaller;
  }
}
@media (max-width:700px)  {
  .logo-sponsor{
    flex-direction: column;
  }
  .question{ 
    min-width: 500px ;
  }
  .answer{
    min-width: 500px ;
  }
}
@media (max-width:801px)  {
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .grid-container{
    grid-template-columns: auto;
  }
  .question{ 
    min-width: 600px ;
  }
  .answer{
    min-width: 600px ;
  }
}
@media (max-width:950px) {
  body{
    font-size: 0.8rem; 
  }
}
@media (max-width:1100px) {

  .headline ul{
    margin-left: 0px;
    gap: 20px;
  }
  .hero-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .subheader{
    height: 110vh;
  }
  .subheader h1{
    font-size: 45px;
    text-align: center;
    font-weight: 600;
  }
  .subheader-item{
    display: flex;
    flex-direction: column-reverse;
  }
  .subheader-item2{
    display: flex;
    flex-direction: column;
  }
  .x1{
    display: none;
  }
  .x2{
    display: none;
  }
  .icons{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  footer a{
    display: none;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */  }



