/* Baseline */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #706784;
}

.App{
  background-color: #E5E5E5;
}

li,a,button {
  list-style: none;
  text-decoration: none;
  color: #706784;
}


/* Header */

header{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  transition: background-color 0.5s;
}

nav.active{
  background-color: white;
  box-shadow: 5px 5px 7px grey;
  border-bottom: solid 4px #4A415F;
}

header nav img{
  max-height: 60px;
}

nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li{
  padding: 10px;
  margin: 0 10px;
}

nav a{
  font-weight: bold;
}

nav ul li:nth-child(3){
  color: white;
  background-color: #FECC50;
  box-shadow: 1px 1px 1px grey;
  border-radius: 11px;
}

nav ul li:nth-child(3) a{
  color: white;
}

nav ul li:hover a{
  color:#FECC50;
}

nav ul li:nth-child(3):hover a{
  color:#706784;
}

.hero{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.hero img{
  max-height: 255px;
}

.headline{
  font-size: larger;
  max-width: 484px;
}

.headline ul{
  padding:20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.tentang {
  font-family: Kollektif;
  color: #ffffff;
  font-size: 20px;
  background: #FECC50;
  padding:13px 12px 12px 11px;
  border-radius: 11px;
  box-shadow: 1px 1px 1px grey;
} 
.tentang:hover{
  transform: scale(1.1);
}

.daftar {
  font-family: Kollektif;
  color: #ffffff;
  font-size: 20px;
  background: #FECC50;
  padding:13px 15px 12px 11px;
  border-radius: 11px;
  box-shadow: 1px 1px 1px grey;
}

.daftar:hover {
  transform: scale(1.1);
}

/* Subheader */
.subheader{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;  
}

.subheader-item{
  width: 40vw;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;  
}

.subheader-item h1{
  font-size: 48px;
  line-height: 45px;
  color: #FECC50;
  font-weight: 550;
}

.subheader-item2{
  width: 40vw;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;  
}

.subheader-item2 h1{
  line-height: 85px;
  color: #FECC50;
  font-weight: 400;
  font-size: 96px;
}



/* Events */

.events{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.events h1{
  font-size: 50px;
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.card-event{
  background-color: #706784;
  text-align: center;
  width: 393px;
  height: 300px;
  padding: 20px;
}

.card-event:hover{
  background-color: #ffff;
}