/* Header */

.pre-event-header{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #FECC50 -80%, rgba(255,255,255,0) 100%, rgba(255,255,255,0) 100%);
    height: 100vh;
    margin-bottom: 30vh;
}

.pre-event-header h1{
    font-size: 50px;
}

.pre-event-header a{
    font-family: 'Kollektif';
    color: black;
    margin: auto;
    font-size: 20px;
    width: 157px;
    height: 45px;
    padding:13px 15px 12px 11px;
    border-radius: 11px;
    background: #FECC50;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.description{
    display: flex;
    width: 450px;
    text-align: justify;
    margin-right: 200px;
}

.header-part-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Subheader */

.speaker-preevent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    height: 100vh;
}

.speaker-preevent article{
    max-width: 30vw;
    gap: 30px;
}

.speaker-preevent article h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #706784;
}
.speaker-preevent p{
    text-align: justify;
}

.speaker-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker-card p{
    width: 259px;
    text-align: center;
}

.speaker-name{
    color: #FECC50;
    font-weight: normal;
}

.talkshow{
    width: 300px;
    height: 300px;
    background-color: #C4C4C4;
}

/* Timeline */
.preevent-timeline{
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100vh;
}
.pointer-wrapper{
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}



.tanggal{
    position: absolute;
    width: 318px;
    height: 41px;
    left: 37px;
    top: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 41px;
    
    color: #FECC50;
    
  }

  .tanggal2{
    position: absolute;
    width: 318px;
    height: 41px;
    left: 55px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #FECC50; 
  }
/*
  .temlen:hover{
      scale: 1.05;
  }
*/
  .tanggal:active{
    color: #fff;
    text-shadow: 0px 0px 10px #FECC50;
  }

.lipe{
    position: absolute;
    width: 140px;
    left: 50px;
    top: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 54px;
    color: #4A415F;
}

.jdl{
    position: absolute;
    width: 300px;
    left: -50px;
    top: 80px;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-align: center;
}

  
.lipe2{
    position: absolute;
    width: 140px;
    left: 50px;
    top: -50px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 54px;
    color: #4A415F;
}

.jdl2{
    position: absolute;
    width: 300px;
    left: -50px;
    top: -65px;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-align: center;
  }

.jdl3{
    position: absolute;
    width: 300px;
    left: -50px;
    top: 60px;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-align: center;
  }

  .jdl4{
    position: absolute;
    width: 300px;
    left: -40px;
    top: -40px;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-align: center;
  }

/* faq */


.question-wrapper{
    position: relative;
    background: linear-gradient(90deg, #4A415F 0%, rgba(74, 65, 95, 0) 272.61%);
    border-radius: 8px;
    max-height: 63px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(1,.01,1,1.34);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: white;
    z-index: 100;
  }
  
  
  .question{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 20px;
    width: 55vw;
    height: 63px;
  }
  
  .question h1{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }
  
  
  .question img{
    height: 15px;
    width: 27px;
  }

/* Speaker */
.Speaker{
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;

}

.speaker-container{
    width: 60%;
    justify-content: space-evenly;
}

.Speaker h1{
    text-align: center;
    font-size: 40px;
}

.speaker{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-color: #000000;
}

.speaker img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* Useless */
.gap-preevent2{
    height: 300px;
}
@media (max-width:862px){
    .speaker-preevent{
        margin-top: 100px;
        flex-direction: column;
        width: 80vw;
    }
    .speaker-preevent article{
        max-width: 80%;
        text-align: center;
    }
    .speaker-preevent p{
        text-align: center;
    }
}
@media (max-width:1150px)  {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .pre-event-header{
        flex-direction: column;
    }
    .description{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 0px;
    }
   }
   @media (max-width:1078px){
        .jdl{
            color:transparent;
        }
        .jdl2{
            color:transparent;
        }
        .pointer-wrapper{
            gap:100px
        }
   }