/* Header */

.pre-event-header{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #FECC50 -80%, rgba(255,255,255,0) 100%, rgba(255,255,255,0) 100%);
    height: 100vh;
    margin-bottom: 30vh;
}

.pre-event-header h1{
    font-size: 50px;
}

.pre-event-header a{
    font-family: 'Kollektif';
    color: black;
    margin: auto;
    font-size: 20px;
    width: 157px;
    height: 45px;
    padding:13px 15px 12px 11px;
    border-radius: 11px;
    background: #FECC50;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.description{
    display: flex;
    width: 500px;
    text-align: justify;
}

.header-part-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Subheader */

.speaker-preevent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    height: 100vh;
}

.speaker-preevent article{
    max-width: 30vw;
    gap: 30px;
}

.speaker-preevent article h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #706784;
}
.speaker-preevent p{
    text-align: justify;
}

.speaker-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker-card p{
    width: 259px;
    text-align: center;
}

.speaker-name{
    color: #FECC50;
    font-weight: normal;
}

.talkshow{
    width: 300px;
    height: 300px;
    background-color: #C4C4C4;
}

/* Timeline */
.preevent-timeline{
    justify-content: center;
    align-items: center;
    gap: 70px;
    height: 100vh;
}
.pointer-wrapper{
    gap: 20px;
}



  .tanggal{
    position: absolute;
    width: 318px;
    height: 41px;
    left: 37px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    
    color: #FECC50;
    
  }

  .temlen:hover{
      scale: 1.05;
  }

  .tanggal:hover{
    text-shadow: 2px 2px 10px #FF0000;
  }

  .tanggal a.picked:after{
    scale: 1.1;
    text-shadow: 2px 2px 10px #FF0000;
  }

.lipe{
    position: absolute;
    width: 140px;
    left: 50px;
    top: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 54px;
    color: #4A415F;
}

.jdl{
    position: absolute;
    width: 300px;
    left: -50px;
    top: 80px;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-align: center;
}

  
.lipe2{
    position: absolute;
    width: 140px;
    left: 50px;
    top: -50px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 54px;
    color: #4A415F;
}

.jdl2{
    position: absolute;
    width: 300px;
    left: -50px;
    top: -65px;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-align: center;
  }



/* Speaker */
.Speaker{
    
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
}

.speaker-container{
    margin-top: 100px;
    width: 60%;
    justify-content: space-evenly;
}

.Speaker h1{
    text-align: center;
    font-size: 40px;
}

.speaker{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
}
/* Useless */
.gap-preevent2{
    height: 300px;
}

